@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
:root {
    --primary: #030E1A;
    --secondary: #CCE3FF;
    --tertiary: #00FF77;
    --primary-light: rgba(3, 14, 26, 0.8);
    --primary-lightest: rgba(3, 14, 26, 0.3);
    --secondary-light: rgba(204, 227, 255, 0.5);
    --secondary-lightest: rgba(204, 227, 255, 0.2);

    --primary-font: "Poppins", sans-serif;
    --secondary-font: "Inter", sans-serif;

    --primary-text : #CCE3FF;
    --secondary-text : rgba(204, 227, 255, 0.5);
    --tertiary-text : #00FF77;
    --alter-text : #030E1A;

    --primary-border: rgba(92, 121, 153,0.3);

    --size: 40px;
    --x: 0;
    --y: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

a{
  text-decoration: none;
}

@media (max-height: 700px) {
  html{
    font-size: 50%;
  }
}

@media (max-height: 600px) {
  html{
    font-size: 45%;
  }
}

@media (max-height: 500px) {
  html{
    font-size: 40%;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 350px) {
  html {
    font-size: 40%;
  }
}
