body{
    background: var(--primary);
    color: var(--primary-text);
}

.mouse{
    background: var(--tertiary-text);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
    z-index: 5;
    transition: 0.3s width, 0.3s height;
}

.nav-left,
.nav-right{
    position: fixed;
    top: 0;
    height: 100vh;
    padding-top: 4%;
    padding-bottom: 5%;
}
.nav-left{
    left: 4%;
}
.nav-left .links img{
    width: 18px;
    height: 18px;
    margin: 18px 0;
    cursor: pointer;
}

.nav-right{
    right: 4%;
}

.nav-right .links a{
    color: var(--secondary-text);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    text-align: right;
    cursor: pointer;
    margin: 3px 0;
    overflow: hidden;
    position: relative;
}
.nav-right .links a>span{
    opacity: 0;
}
.nav-right .links a::before,
.nav-right .links a::after{
    content: attr(data-val);
    position: absolute;
    top: 0%;
    left: 0;
    height: 100%;
    width: 100%;
    transition: 0.3s;
}
.nav-right .links a::after{
    top: 100%;
}
.nav-right .links a:hover,
.nav-right .links a:hover span{
    color: var(--primary-text);
}
.nav-right .links a:hover::before{
    top: -100%;
}
.nav-right .links a:hover::after{
    top: 0%;
}
.nav-right .sound p{
    color: var(--secondary-text);
    text-transform: uppercase;
    font-size: 1.5rem;
    cursor: pointer;
    writing-mode: vertical-rl;
    transform: rotateZ(180deg);
}
.nav-right .sound p>span{
    color: var(--primary-text);
}


main{
    width: 100%;
    height: 100vh;
    background: url(../assets/landing.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: var(--primary-text);
    pointer-events: none;
}

main .landing-text{
    width: min-content;
}
main .landing-text h4{
    font-size: 1.5rem;
    font-family: var(--primary-font);
    text-transform: uppercase;
    letter-spacing: 7px;
    font-weight: 500;
    margin-top: 5%;
    margin-bottom: 30px;
}
main .landing-text h1{
    font-size: 12.8rem;
    font-weight: 600;
    line-height: 11rem;
    letter-spacing: -6px;
    font-family: var(--primary-font);
}
main .landing-text h1>span{
    color: var(--tertiary-text);
}


.about-me{
    /* border: 2px solid red; */
    padding-top: 28vh;
    margin-bottom: 28vh;
    margin-left: 16%;
}
.about-me h4{
    font-size: 1.4rem;
    font-family: var(--primary-font);
    text-transform: uppercase;
    letter-spacing: 7px;
    font-weight: 400;
    color: var(--primary-text);
}
.about-me h2{
    font-size: 6.25rem;
    font-weight: 600;
    font-family: var(--primary-font);
    letter-spacing: -2px;
    line-height: 7.2rem;
    word-spacing: 0.5rem;
    color: var(--primary-text);
}
.about-me h2>strong{
    font-weight: 600;
    color: var(--tertiary-text);
}



.my-skills{
    margin-bottom: 28vh;
}
.my-skills h4{
    font-size: 1.4rem;
    font-family: var(--primary-font);
    text-transform: uppercase;
    letter-spacing: 7px;
    font-weight: 400;
    color: var(--primary-text);
    margin-left: 16%;
}

.my-skills .skills li{
    list-style: none;
    font-size: 12.8rem;
    color: var(--primary-text);
    font-family: var(--primary-font);
    border-top: 1px solid var(--secondary-lightest);
    cursor: default;
    position: relative;
}
.my-skills .skills li:last-child{
    border-bottom: 1px solid var(--secondary-lightest);
}

.my-skills .skills li::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateX(90deg);
    width: 100%;
    height: 100%;
    color: var(--primary);
    background: var(--tertiary);
    overflow: hidden;
    transition: 0.5s;
    mix-blend-mode: difference;
}
.my-skills .skills li,
.my-skills .skills li::before{
    padding-left: 16%;
    font-weight: 600;
    letter-spacing: -7px;
    line-height: 10rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-transform: uppercase;
}

.my-skills .skills li:hover{
    color: var(--tertiary-text);
}
.my-skills .skills li:hover::before{
    transform: rotateX(0deg);
}